@{
    ViewBag.Title = "PrashantAbout";
}
<@*h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

@*<p>This is My First ASP MVC Web Application.</p>
<div>@Html.ActionLink("UI Text", "About", "About", "Home", null) </div>*@

<div class="row">
    <div class="col-md-4">
        <div class="serv-info">
            <div class="serv-info_box">
                <p><img alt="images" src="~/Views/Home/Images/CustmoseSoftDev.png" style="background-color: #4d7fc3;" /></p>
            </div>

            <div class="serv-info_col">
                <h3 style="color:#006699"><span style="font-size:18px">Customized Software Development</span></h3>

                <p>LNB Infotech has also created its image in Customized Software Development for its clients across the globe. Understanding the Clients&rsquo; finer needs and providing them the customized solutions is something we repeatedly do with amazing success. LNB has extensive experience in Software Development for various industry domains like Public Sector, Government Sector, Manufacturing, Retail, Tourism, Finance and Client Server Technology that is applications which work in Client Server environment.</p>
            </div>
        </div>
    </div>


    <div class="serv-info_box">
        <p><img alt="images" src="~/Views/Home/Images/ItInfraMng.png" style="background-color: #a9d25a;"></p>
    </div>
    <div class="col-md-4">
        <div class="serv-info_col">
            <h3 style="font-size:18px"><span style="color:#006699">IT Infrastructure Management</span></h3>
            <p>LNBs’ core ability is to make easy and efficient operation in your computers. Professional Tools & Technicians Support is offered. We provide customized Services to examine request for computer assistance & determine whether the use of Computers might be an appropriate working to a business situation.</p>
            <p>Our focus is on providing our customers with latest technologies and tools to gear them up to face competition in today’s business world. Our efforts are always towards matching and effortlessly integrating these technologies. We strive hard to provide our customers with a work environment full of comfort and with an environment which is known to them.</p>
            <p>We have successfully completed network setup for major satisfied clients widely spread in all over India in different sectors like Famous Colleges and Well-known Schools, Banking, IT Companies, Retails, Individuals, also in Government and Corporate Sector.</p>
        </div>
    </div>

        <div class="col-md-4">
            <div class="serv-info">
                <div class="serv-info_box">
                    <p><img alt="images" src="~/Views/Home/Images/MobileApp.png" style="background-color: #d963a6;" /></p>
                </div>

                <div class="serv-info_col">
                    <h3 style="font-size:18px"><span style="color:#006699">Mobile Applications</span></h3>

                    <p>LNB Infotech offers a complete spectrum of mobile development services. We amalgamate the latest trends about developing apps to enthrall the end user and deliver innovation. We extend our expertise across the leading app development platforms such as iOS and Android.</p>
                </div>
                


            </div>




        </div>

    <div class="serv-info_box">
        <p><img alt="images" src="~/Views/Home/Images/webApp.png" style="background-color: #e09e5d;" /></p>
    </div>
    <div class="col-md-4">
        <div class="serv-info_col">
            <h3 style="color:#006699"><span style="font-size:18px">Web Applications</span></h3>

            <p>With an initiative to give new horizons to your business, we offer various Web Application Solutions. With Network Technologies to re-invent maximum business with minimum cost; we offer valuable tools for your business. Website development and hosting are the two prime areas LNB focuses on.</p>
        </div>
    </div>


    </div>

