@{
    ViewBag.Title = "PrashantContact";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3><span style="color:#006699"><span style="font-size:20px">Registered Office</span></span></h3>
@*<h3>@ViewBag.Message</h3>*@



<address>
   @*Prashant Prakash Pawar<br />
    Narali Baug, Phaltan<br />
    <abbr title="Mobile">P:</abbr>
    +91 9665681507</address>*@
    220 Nupur apartment,<br/>
    Ram Baug colony,<br/>
    Sadashiv Peth. PUNE :-411030<br/>
    <hr/>

<address>
    @*<strong>Support:</strong>   <a href="pppawar3391@gmail.com">pppawar3391@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    <strong>Support:</strong>   <a href="support@lnbinfotech.com">support@lnbinfotech.com</a><br />
</address>