@{
    ViewBag.Title = "My New Home Page";
}

<div class="jumbotron" >
  
    <h1>PAIT BIZZ SYSTEMS Main</h1>
    <p class="lead">Company Paragraph</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>





<div class="row">
    <div class="col-md-4">
        <h2>Customized Software Development</h2>
        <p>
            LNB Infotech has also created its image in Customized Software Development 
            for its clients across the globe. Understanding the Clients&rsquo; 
            finer needs and providing them the customized solutions is something 
            we repeatedly do with amazing success. 
            LNB has extensive experience in Software Development for various industry domains 
            like Public Sector, Government Sector, Manufacturing, Retail, Tourism, 
            Finance and Client Server Technology that is applications which work in Client Server environment.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Customized Software Development</h2>
        <p>
            LNB Infotech has also created its image in Customized Software Development
            for its clients across the globe. Understanding the Clients&rsquo;
            finer needs and providing them the customized solutions is something
            we repeatedly do with amazing success.
            LNB has extensive experience in Software Development for various industry domains
            like Public Sector, Government Sector, Manufacturing, Retail, Tourism,
            Finance and Client Server Technology that is applications which work in Client Server environment.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Customized Software Development</h2>
        <p>
            LNB Infotech has also created its image in Customized Software Development
            for its clients across the globe. Understanding the Clients&rsquo;
            finer needs and providing them the customized solutions is something
            we repeatedly do with amazing success.
            LNB has extensive experience in Software Development for various industry domains
            like Public Sector, Government Sector, Manufacturing, Retail, Tourism,
            Finance and Client Server Technology that is applications which work in Client Server environment.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>