
@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/_ViewStart.cshtml";
}

<h2>LOGIN</h2>
@*<html>
<h2>LOGIN</h2>
<h2>Select File To Download</h2>
<head>
</head>
<body>

    <div>
        @foreach (var item in ViewData.Model)
        {
            @Html.ActionLink((string)item, "DownloadFile", new { filename = item });
            <br />
        }
    </div>
</body>

</html>*@


